
<div class="principal">
    <div class="container">
        <h2>Usuários Cadastrados no Sistema!</h2>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn-new-user" (click)="adicionar()">+ Novo Usuário</button>
</div>
